@tailwind base;
@tailwind components;
@tailwind utilities;

/* رنگ فونت اصلی رو قوی‌تر کنیم */
body {
  @apply text-gray-900 font-medium;
}

/* برای متن‌های فرعی */
.text-secondary {
  @apply text-gray-600;
}

/* برای متن‌های خیلی فرعی */
.text-muted {
  @apply text-gray-500;
}

/* Dark Mode (اگه بعداً اضافه کردیم) */
.dark body {
  @apply text-gray-100;
}
